<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>BitTorrent File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.qBitControl.bittorrent</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>logo1</string>
			<key>CFBundleURLName</key>
			<string>com.MikeMichael225.qBitControl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>magnet</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.item</string>
				<string>com.bittorrent.torrent</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BitTorrent File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>logo1</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.qBitControl.bittorrent</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.bittorrent.org/beps/bep_0000.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>torrent</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-bittorrent</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
