name: Automated iOS Build

on:
  push:
    branches:
      - "main"
    tags:
      - "build-ci*"
  pull_request:
    branches:
      - "main"

jobs:
  build:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v3
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.4'
    - uses: yukiarrr/ios-build-action@v1.11.2
      with:
        project-path: qBitControl.xcodeproj
        p12-base64: ${{ secrets.P12_BASE64 }}
        mobileprovision-base64: ${{ secrets.MOBILEPROVISION_BASE64 }}
        code-signing-identity: ${{ secrets.CODE_SIGNING_IDENTITY }}
        team-id: ${{ secrets.TEAM_ID }}
        output-path: qBitControl.ipa
    - name: Extract Version and Build Number
      id: extract_version
      run: |
        TAG="${GITHUB_REF#refs/tags/}"
        echo "Full Tag: $TAG"
        VERSION=$(echo "$TAG" | cut -d '-' -f 3)
        BUILD_NUMBER=$(echo "$TAG" | cut -d '-' -f 4)
        echo "Extracted Version: $VERSION"
        echo "Extracted Build Number: $BUILD_NUMBER"
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "BUILD_NUMBER=$BUILD_NUMBER" >> $GITHUB_ENV
    - name: "Update Release"
      if: startsWith(github.ref, 'refs/tags/build-ci')
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: true
        automatic_release_tag: "CI"
        title: "qBitControl ${{ env.VERSION }} (${{ env.BUILD_NUMBER }})"
        files: |
          qBitControl.ipa
